body {
  background-color: hsl(212, 45%, 89%);
  font-family: sans-serif;
}

.qr_code {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  margin: 160px auto;
  padding: 18px 18px;
  border-radius: 12px;
}

.image {
  height: 300px;
  border-radius: 8px;
}

.qr_label {
  padding: 12px 12px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  color: hsl(218, 44%, 22%);
}

.qr_description {
  padding: 12px 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin-top: 0;
  color: hsl(220, 15%, 55%);
}